[Unit]
Description=Certificate Management Server
Documentation=https://casper.osspkg.com/
After=network.target

[Service]
Type=simple

User=casper
Group=casper

ProtectSystem=full
ProtectHome=yes
PrivateTmp=true

Restart=on-failure
RestartSec=30s
ExecStart=/usr/bin/casper-server --config=/etc/casper/config.yaml
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
